body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.text {
  font-family: monospace;
  color: black;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.text1 {
  font-family: monospace;
  color: red;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.delayed {
  opacity: 0;
  animation: fadeIn 2s ease-in 3.5s forwards;
}

.delayed-form {
  opacity: 0;
  animation: fadeIn 2s ease-in 5.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 300px; /* Adjust this value as needed */
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 5px; /* Adjust this value to increase or decrease the spacing between labels and input fields */
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

/* Loading page styles */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loading-animation {
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.mood-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mood-btn {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.mood-btn:hover {
  background-color: #e6e6e6;
}


